i {
    margin-left: 1.5px;
}

.box {
    margin-top: -50px;
    width: 40px;
    margin-left: 100px;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: width 1s ease;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    background-color: white;
    color: black;
    transition: width 1s ease;
}

.box:hover {
    width: 400px;
}

.box:hover input {
    width: 360px;
}

.box a .fa {
    color: #1daf;
    font-size: 18px;
}

div {
    margin-top: 15px;
    margin-left: 15px;
}

#logo {
    list-style-type: none;
    display: inline;
}

.B1 {
    background-color: black;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 647px;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

.B1:hover {
    color: white;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 647px;
    text-decoration: none;
}

.B2 {
    background-color: black;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

.B2:hover {
    color: white;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3px;
    text-decoration: none;
}

.C {
    background-color: black;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

.C:hover {
    color: white;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3px;
    text-decoration: none;
}

.Register {
    background-color: black;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 490px;
    margin-top: 200px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

.Register:hover {
    color: white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 490px;
    margin-top: -51px;
    background-color: rgb(59, 58, 58);
    text-decoration: none;
}

.Sign {
    padding: 6px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-bottom: 100px;
}

.Sign:hover {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    height: 35px;
    width: 73px;
    background-color: rgb(59, 58, 58);
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

.hr1 {
    margin-top: 20px;
    width: 100%;
    margin-left: -35px;
}

.hr2 {
    margin-top: 40px;
    width: 100%;
    height: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100.5px;
}

nav {
    position: relative;
    width: 775px;
    height: 40px;
    background: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(144, 143, 143);
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 11px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 73px;
    height: 100%;
    background: linear-gradient(44deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: 0.4s;
}

nav a:hover {
    color: white;
}

nav a:nth-child(2):hover~span {
    left: 75px;
    width: 60px;
    color: white;
}

nav a:nth-child(3):hover~span {
    left: 138px;
    width: 60px;
    color: white;
}

nav a:nth-child(4):hover~span {
    left: 202px;
    width: 90px;
}

nav a:nth-child(5):hover~span {
    left: 293px;
    width: 90px;
}

nav a:nth-child(6):hover~span {
    left: 388px;
    width: 75px;
}

nav a:nth-child(7):hover~span {
    left: 468px;
    width: 50px;
}

nav a:nth-child(8):hover~span {
    left: 520px;
    width: 68px;
}

nav a:nth-child(9):hover~span {
    left: 590px;
    width: 60px;
}

nav a:nth-child(10):hover~span {
    left: 655px;
    width: 63px;
}

nav a:nth-child(11):hover~span {
    left: 718px;
    width: 57px;
}

.Menu {
    margin-top: -37px;
    margin-left: 20px;
}

marquee {
    background: linear-gradient(44deg, #574949, #ff3333, #ff3333);
    color: white;
    transition: 2s;
    height: 38px;
    margin-left: -35px;
}

.tik-tok {
    height: 350px;
    width: 620px;
    margin-left: 120px;
    margin-top: 10px;
}

.N1 {
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
    margin-left: 120px;
    font-size: 20px;
    margin-top: 10px;
}

.N1img {
    text-decoration: none;
    color: black;
}

.N1img:hover {
    text-decoration: underline;
    color: black;
}

.trump {
    height: 350px;
    width: 620px;
    margin-left: 15px;
    margin-top: 10px;
    rotate: 0deg;
}

.N2 {
    margin-left: 15px;
    margin-top: 10px;
}

.news1 {
    display: flex;
    list-style-type: none;
}

.game {
    height: 470px;
    width: 850px;
    margin-left: 120px;
    margin-top: 10px;
}

.N3 {
    margin-left: 1020px;
    margin-top: -300px;
    font-size: 35px;
    color: black;
}

.N3:hover {
    margin-left: 1020px;
    margin-top: -300px;
    font-size: 35px;
    color: black;
    text-decoration: underline;
}

.N3img {
    text-decoration: none;
}

.Exp {
    margin-left: -15px;
    margin-top: 90px;
    height: 580px;
    background-color: rgb(20, 22, 24);
}

.N4 {
    margin-left: 90px;
    margin-top: -5px;
    height: 500px;
    width: 1340px;
    background-color: black;
}

.curly {
    margin-left: 0px;
    margin-top: -px;
    height: 500px;
    width: 900px;
}

.N4img {
    text-decoration: none;
}

.N4img:hover {
    text-decoration: underline;
    color: white;
}

.divh1 {
    padding-top: 30px;
    padding-left: 68px;

    font-size: 25px;
    font-weight: 500;
    color: black;
}

.hello1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 18px;
}

.card1 {
    width: 227px;
    height: 50px;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: -10px;
    margin-left: -6px;

    color: black;
}

.card1:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-title1 {
    font-size: 12px;
    font-weight: normal;
}

.card-description1 {
    font-size: 9px;
    font-weight: lighter;
    margin-top: 3px;
}

.foot {
    list-style-type: none;
    display: flex;
    margin: 30px;
    margin-left: 95px;
    font-weight: bold;
}

.ft {
    margin-left: 20px;
}

.ft1 {
    text-decoration: none;
    color: black;
}

.ft1:hover {
    text-decoration: underline;
    color: black;
}

.ft2 {
    list-style-type: none;
    /* margin-left: 20px; */
    /* padding-left: 20px; */
    justify-content: space-around;
}

.fa-x-twitter:hover {
    color: blue;
}

.fa-youtube:hover {
    color: rgb(255, 0, 0);
}

.fa-linkedin-in:hover {
    color: blue;
}

.fa-square-instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    height: 20px;
    border-radius: 30%;
}

.fa-tiktok:hover {
    color: red;
}

.fa-facebook-f:hover {
    color: #1877F2;
}

.fa-brands {
    font-size: 20px;
    margin-left: 20px;
}

.fa-brands:hover {
    font-size: 25px;
    transition: 0.2s;
    transform: translate(0px, -8px);
    cursor: pointer;
}

.ft3 {
    margin-left: 115px;
    list-style-type: none;
    background-color: rgb(230, 232, 234);
    padding: 5px;
}

.ft5 {
    margin-left: 140px;
}

.ft4 {
    margin-left: 20px;
}

.ft6 {
    color: black;
    text-decoration: none;
}

.ft6:hover {
    color: black;
    text-decoration: underline;
}

.ft7>a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    color: black;
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
}

.ft7>a:hover {
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    color: black;
    list-style-type: none;
    margin-left: 20px;
    text-decoration: underline;
}

.ft7:hover {
    color: white;
    text-decoration: underline;
}
